<div class="card">
  <div class="card-header ">
    <h4 class="card-title">Striped Table with Hover</h4>
    <p class="card-category">Here is a subtitle for this table</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <label>First</label>
      </div>
      <div class="col-md-9">
        Value
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <label>Second</label>
      </div>
      <div class="col-md-9">
        Value
      </div>
    </div>
</div>
