<div class="card">
  <div class="card-header ">
    <h4 class="card-title">Settings</h4>
  </div>
  <div class="card-body">
    <form novalidate [formGroup]="settingsForm">
      <div class="row">
        <div class="col-md-3">
          <label>Show prices in currency</label>
        </div>
        <div class="col-md-9">
          <div class="form-check" *ngFor=" let item of availableCurrencies | keyvalue">
            <input class="form-check-input" type="radio" id="currencyRadio-{{item.key}}"
              formControlName="uiCurrency"[value]="item.key" [checked]="settingsForm.value.uiCurrency == item.key">
            <label class="form-check-label" for="currencyRadio-{{item.key}}">
              {{ item.value }}
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
