<nav class="navbar navbar-dark bg-dark justify-content-between">
  <!-- <a class="navbar-brand" routerLink="" title="Home" (click)="homeButtonClickedEvent()">Home</a> -->
  <button type="button" class="btn btn-link navbar-brand" title="Home" (click)="homeButtonClickedEvent()">Home</button>
  <div (click)="settingsButtonClickedEvent()">
    <!-- <img src="http://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> -->
    <fa-icon [icon]="faCog" size="lg" title="Settings"></fa-icon>
  </div>
</nav>
