<div class="card table-striped table-hover">
  <div class="card-header ">
    <h4 class="card-title">Striped Table with Hover</h4>
    <p class="card-category">Here is a subtitle for this table</p>
  </div>
  <div class="card-body table-full-width table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Country</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr [routerLink]="['detail', 1]">
          <td>1</td>
          <td>John</td>
          <td>10</td>
          <td>United Kingdom</td>
          <td>London</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
